header{
    height: 75px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: cornflowerblue;
    margin: 0;
    position: relative;
}
#logo{
    height: 50%;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.writer{
    color: rgb(130, 130, 130);
}
.writer-name{
    color: dodgerblue;
}
.date{
    font-weight: normal;
    font-size: small;
}
.images-info{
    font-size: small;
}
.text-content{
    margin: 10px;
}
.highlighted{
    background-color: yellow;
}
table{
    text-align: left;
}
th{
    color: white;
    background-color: dodgerblue;
}
td{
    min-width: 300px;
}
tr:first-child, tr:last-child{
    background-color: aqua;
}