header{
    height: 75px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: cornflowerblue;
    margin: 0;
    position: relative;
}
#logo{
    height: 50%;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.writer{
    color: rgb(130, 130, 130);
}
.writer-name{
    color: dodgerblue;
}
.date{
    font-weight: normal;
    font-size: small;
}
.images-info{
    font-size: small;
}